* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--font-defaultColor);
}

:root {
  --width-default: 1200px;
  --background-primaryColor: #101010;
  --background-secondaryColor: #171717;
  --background-gradient: linear-gradient(to right, #9f121d, #c41b27);
  --font-family: "GT Walsheim";
  --font-defaultColor: #c5c4c4;
  --font-primaryColor: #a7232d;
  --font-paragraph-defaultSize: 17px;
  --font-entryHeading-defaultSize: 60px;
  --font-heading-defaultSize: 35px;
  --padding-default: 50px 0;
  --padding-mobile: 0 12px;
}

body {
  background: var(--background-primaryColor);
  /* End Default Styles */
}
body h1 {
  font-family: var(--font-family);
  font-size: var(--font-entryHeading-defaultSize);
}
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: var(--font-family);
  font-size: var(--font-heading-defaultSize);
}
body p {
  font-size: var(--font-paragraph-defaultSize);
  margin: 0 0 15px;
}
body ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  letter-spacing: 1.5px;
  font-size: 20px;
}
body a {
  text-decoration: none;
}
body .container {
  max-width: var(--width-default);
  width: 100%;
  margin: 0 auto;
}
body .container .logo img {
  max-width: 250px;
  height: 100px;
  width: 100%;
}
body .row {
  display: flex;
  justify-content: space-between;
}
body .btn {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background: var(--background-gradient);
  padding: 20px 50px;
  transition: 0.5s ease;
}
body .btn:hover {
  background: transparent;
  border: 3px solid var(--font-defaultColor);
  transition: 0.5s all;
}
body header {
  background: var(--background-primaryColor);
  padding: var(--padding-default);
}
body header ul {
  letter-spacing: 2px;
}
body #about {
  background: var(--background-secondaryColor);
}
body #about .row {
  gap: 50px;
  align-items: center;
}
body #about .profile-section img {
  max-width: 500px;
  width: 100%;
  position: relative;
  animation: moveUpDown 4s ease-in-out infinite;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
    /* Adjust distance as needed */
  }
}
body #about .title {
  max-width: 600px;
  padding: 20px 35px 30px 50px;
}
body #about .title p.name {
  margin: 0;
  letter-spacing: 1px;
  font-size: 18px;
}
body #about .title p.name span {
  font-size: 30px;
  letter-spacing: 1.2px;
}
body #about .title h3 {
  letter-spacing: 2px;
  color: var(--font-defaultColor);
  margin: 0 0 25px;
}
body #about .title h4 {
  font-size: 25px;
  margin: 0 0 5px;
}
body #about .title .row {
  justify-content: start;
}
body #about .title p {
  font-size: 18px;
  line-height: 1.3em;
}
body #about .title span {
  color: var(--font-primaryColor);
}
body #works {
  padding: var(--padding-default);
}
body #works h3 {
  color: var(--font-primaryColor);
  margin: 0 0 25px;
  letter-spacing: 2px;
  text-align: center;
}
body #works .development {
  text-align: center;
}
body #works .development i {
  font-size: 100px;
}
body #works .development-content {
  background: var(--background-secondaryColor);
  padding: 25px 30px;
  max-width: 1100px;
  margin: 0 auto 25px;
}
body #works .development-content h4 {
  font-size: 25px;
  margin: 0 0 20px;
}
body #works .development-content p {
  line-height: 1.4em;
}
body #works .experience .row {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
body #works .experience .row i {
  font-size: 30px;
}
body #works .experience .row i span {
  font-size: 18px;
}
body #certificates {
  background: var(--background-secondaryColor);
  padding: var(--padding-default);
}
body #certificates h3 {
  color: var(--font-primaryColor);
  text-align: center;
}
body #certificates .certificates-container {
  display: flex;
  justify-content: center;
  padding: var(--padding-default);
}
body #certificates .certificates-container img {
  max-width: 550px;
}
body #projects {
  background: var(--background-primaryColor);
  padding: var(--padding-default);
}
body #projects h3 {
  text-align: center;
  color: var(--font-primaryColor);
}
body #projects .projects-container {
  padding: 30px 0;
}
body #projects .projects-container h4 {
  font-size: 25px;
  margin: 0 0 50px;
}

/*# sourceMappingURL=styles.css.map */
